.light-theme {
  --box-shadow-pop-color: #00000030;
  --box-shadow-pop-type: dropShadow;
  --box-shadow-pop-x: 0;
  --box-shadow-pop-y: 8;
  --box-shadow-pop-blur: 24;
  --box-shadow-pop-spread: 0;
  --box-shadow-idle-color: #00000014;
  --box-shadow-idle-type: dropShadow;
  --box-shadow-idle-x: 0;
  --box-shadow-idle-y: 4;
  --box-shadow-idle-blur: 16;
  --box-shadow-idle-spread: 0;
  --box-shadow-hover-color: #00000008;
  --box-shadow-hover-type: dropShadow;
  --box-shadow-hover-x: 0;
  --box-shadow-hover-y: 8;
  --box-shadow-hover-blur: 8;
  --box-shadow-hover-spread: 0;
  --background-default: #f3f5fb;
  --background-system: #f9f9fb;
  --background-layer-1: #ffffff7a;
  --background-layer-1: #e6eaf6;
  --fill-primary: #321d47;
  --fill-primary-hover: #28123e;
  --fill-primary-down: #1c0533;
  --fill-secondary: #dae0f2;
  --fill-secondary-hover: #e6eaf6;
  --fill-secondary-down: #dae0f2;
  --fill-inverted: #ffffff;
  --fill-inverted-hover: #f3f5fb;
  --fill-inverted-down: #e6eaf6;
  --fill-match-background: #f3f5fb;
  --fill-disabled: #00000008;
  --fill-danger: #fd4935;
  --fill-elevate-1: #ffffffb0;
  --fill-overlay: #ffffff94;
  --fill-selected: #e6eaf6;
  --fill-white: #ffffff;
  --fill-impress-1: #00000008;
  --stroke-contrast: #321d47;
  --stroke-dimmed: #00000070;
  --stroke-primary: #e6007a;
  --stroke-danger: #e31902;
  --stroke-hint: #00000029;
  --stroke-disabled: #00000029;
  --stroke-focus: #552bbf;
  --text-and-icons-contrast: #000000e3;
  --text-and-icons-dimmed: #00000070;
  --text-and-icons-match-background: #f3f5fb;
  --text-and-icons-primary: #e6007a;
  --text-and-icons-white: #ffffff;
  --text-and-icons-disabled: #00000059;
  --text-and-icons-danger: #e31902;
  --text-and-icons-emphasized: #f272b6;
  --interactive-hover: #ffffff0f;
  --interactive-pressed: #00000008;
  --interactive-hover-transparent-background: #ffffff7a;
  --accent-cyan: #00D0FF;
  --accent-green: #56F39A;
  --accent-lime: #D3FF33;
  --accent-pink: #f272b6;
  --padding-36-left-right: 1rem;
  --padding-36-top-bottom: 0.5rem;
  --padding-40-left-right: 1.25rem;
  --padding-40-top-bottom: 0.625rem;
  --padding-48-left-right: 1.5rem;
  --padding-48-top-bottom: 0.75rem;
  --padding-76-left-right: 2rem;
  --padding-76-top-bottom: 1.25rem;
  --padding-min-left-right: 0.5rem;
  --padding-min-top-bottom: 0.25rem;
  --gap-medium: 0.5rem;
  --gap-small: 0.35 rem;
  --gap-large: 0.75rem;
  --icon-20: 20px;
  --icon-24: 24px;
  --icon-36: 36px;
  --desktop-h1-font-family: Unbounded;
  --desktop-h1-font-weight: Black;
  --desktop-h1-line-height: 24;
  --desktop-h1-font-size: 2.25rem;
  --desktop-h1-letter-spacing: 0;
  --desktop-h1-paragraph-spacing: 0;
  --desktop-h1-text-case: none;
  --desktop-h1-text-decoration: none;
  --desktop-h2-font-family: Unbounded;
  --desktop-h2-font-weight: Black;
  --desktop-h2-line-height: 32;
  --desktop-h2-font-size: 2rem;
  --desktop-h2-letter-spacing: 0;
  --desktop-h2-paragraph-spacing: 0;
  --desktop-h2-text-case: none;
  --desktop-h2-text-decoration: none;
  --desktop-h3-font-family: Inter;
  --desktop-h3-font-weight: Regular;
  --desktop-h3-line-height: 36;
  --desktop-h3-font-size: 1.75rem;
  --desktop-h3-letter-spacing: 0;
  --desktop-h3-paragraph-spacing: 0;
  --desktop-h3-text-case: none;
  --desktop-h3-text-decoration: none;
  --desktop-h4-font-family: Inter;
  --desktop-h4-font-weight: Bold;
  --desktop-h4-line-height: 36;
  --desktop-h4-font-size: 1.5rem;
  --desktop-h4-letter-spacing: 0;
  --desktop-h4-paragraph-spacing: 0;
  --desktop-h4-text-case: none;
  --desktop-h4-text-decoration: none;
  --desktop-h5-font-family: Inter;
  --desktop-h5-font-weight: Semi Bold;
  --desktop-h5-line-height: 40;
  --desktop-h5-font-size: 1.25rem;
  --desktop-h5-letter-spacing: 0;
  --desktop-h5-paragraph-spacing: 0;
  --desktop-h5-text-case: none;
  --desktop-h5-text-decoration: none;
  --desktop-h6-font-family: Inter;
  --desktop-h6-font-weight: Semi Bold;
  --desktop-h6-line-height: 24;
  --desktop-h6-font-size: 1rem;
  --desktop-h6-letter-spacing: 0;
  --desktop-h6-paragraph-spacing: 0;
  --desktop-h6-text-case: none;
  --desktop-h6-text-decoration: none;
  --desktop-body1-font-family: Inter;
  --desktop-body1-font-weight: Regular;
  --desktop-body1-line-height: 24;
  --desktop-body1-font-size: 1rem;
  --desktop-body1-letter-spacing: 0;
  --desktop-body1-paragraph-spacing: 0;
  --desktop-body1-text-case: none;
  --desktop-body1-text-decoration: none;
  --desktop-body2-font-family: Inter;
  --desktop-body2-font-weight: Regular;
  --desktop-body2-line-height: 20;
  --desktop-body2-font-size: 0.875rem;
  --desktop-body2-letter-spacing: 0;
  --desktop-body2-paragraph-spacing: 0;
  --desktop-body2-text-case: none;
  --desktop-body2-text-decoration: none;
  --desktop-body2-medium-font-family: Inter;
  --desktop-body2-medium-font-weight: Semi Bold;
  --desktop-body2-medium-line-height: 20;
  --desktop-body2-medium-font-size: 0.875rem;
  --desktop-body2-medium-letter-spacing: 0%;
  --desktop-body2-medium-paragraph-spacing: ;
  --desktop-body2-medium-text-case: none;
  --desktop-body2-medium-text-decoration: none;
  --desktop-subtitle1-font-family: Inter;
  --desktop-subtitle1-font-weight: Semi Bold;
  --desktop-subtitle1-line-height: 36;
  --desktop-subtitle1-font-size: 1.5rem;
  --desktop-subtitle1-letter-spacing: 0;
  --desktop-subtitle1-paragraph-spacing: 0;
  --desktop-subtitle1-text-case: none;
  --desktop-subtitle1-text-decoration: none;
  --desktop-subtitle2-font-family: Inter;
  --desktop-subtitle2-font-weight: Semi Bold;
  --desktop-subtitle2-line-height: 24;
  --desktop-subtitle2-font-size: 1rem;
  --desktop-subtitle2-letter-spacing: ;
  --desktop-subtitle2-paragraph-spacing: ;
  --desktop-subtitle2-paragraph-indent: ;
  --desktop-subtitle2-text-case: none;
  --desktop-subtitle2-text-decoration: none;
  --desktop-caption-font-family: Inter;
  --desktop-caption-font-weight: Regular;
  --desktop-caption-line-height: 16;
  --desktop-caption-font-size: 0.75rem;
  --desktop-caption-letter-spacing: 2%;
  --desktop-caption-paragraph-spacing: 0;
  --desktop-caption-text-case: none;
  --desktop-caption-text-decoration: none;
  --mobile-h1-font-family: Unbounded;
  --mobile-h1-font-weight: Black;
  --mobile-h1-line-height: 24;
  --mobile-h1-font-size: 2.25rem;
  --mobile-h1-letter-spacing: 0;
  --mobile-h1-paragraph-spacing: 0;
  --mobile-h1-text-case: none;
  --mobile-h1-text-decoration: none;
  --mobile-h2-font-family: Unbounded;
  --mobile-h2-font-weight: Black;
  --mobile-h2-line-height: 32;
  --mobile-h2-font-size: 2rem;
  --mobile-h2-letter-spacing: 0;
  --mobile-h2-paragraph-spacing: 0;
  --mobile-h2-text-case: none;
  --mobile-h2-text-decoration: none;
  --mobile-h3-font-family: Inter;
  --mobile-h3-font-weight: Regular;
  --mobile-h3-line-height: 36;
  --mobile-h3-font-size: 1.75rem;
  --mobile-h3-letter-spacing: 0;
  --mobile-h3-paragraph-spacing: 0;
  --mobile-h3-text-case: none;
  --mobile-h3-text-decoration: none;
  --mobile-h4-font-family: Inter;
  --mobile-h4-font-weight: Regular;
  --mobile-h4-line-height: 20;
  --mobile-h4-font-size: 1.5rem;
  --mobile-h4-letter-spacing: 0;
  --mobile-h4-paragraph-spacing: 0;
  --mobile-h4-text-case: none;
  --mobile-h4-text-decoration: none;
  --mobile-h5-font-family: Inter;
  --mobile-h5-font-weight: Regular;
  --mobile-h5-line-height: 40;
  --mobile-h5-font-size: 1.25rem;
  --mobile-h5-letter-spacing: 0;
  --mobile-h5-paragraph-spacing: 0;
  --mobile-h5-text-case: none;
  --mobile-h5-text-decoration: none;
  --mobile-h6-font-family: Inter;
  --mobile-h6-font-weight: Regular;
  --mobile-h6-line-height: 14;
  --mobile-h6-font-size: 1rem;
  --mobile-h6-letter-spacing: 0;
  --mobile-h6-paragraph-spacing: 0;
  --mobile-h6-text-case: none;
  --mobile-h6-text-decoration: none;
  --mobile-subtitle1-font-family: Inter;
  --mobile-subtitle1-font-weight: Regular;
  --mobile-subtitle1-line-height: 40;
  --mobile-subtitle1-font-size: 1.25rem;
  --mobile-subtitle1-letter-spacing: 0;
  --mobile-subtitle1-paragraph-spacing: 0;
  --mobile-subtitle1-text-case: none;
  --mobile-subtitle1-text-decoration: none;
  --mobile-subtitle2-font-family: Inter;
  --mobile-subtitle2-font-weight: Regular;
  --mobile-subtitle2-line-height: 14;
  --mobile-subtitle2-font-size: 1rem;
  --mobile-subtitle2-letter-spacing: 0;
  --mobile-subtitle2-paragraph-spacing: 0;
  --mobile-subtitle2-text-case: none;
  --mobile-subtitle2-text-decoration: none;
  --mobile-body1-font-family: Inter;
  --mobile-body1-font-weight: Regular;
  --mobile-body1-line-height: 14;
  --mobile-body1-font-size: 1rem;
  --mobile-body1-letter-spacing: 0;
  --mobile-body1-paragraph-spacing: 0;
  --mobile-body1-text-case: none;
  --mobile-body1-text-decoration: none;
  --mobile-body2-font-family: Inter;
  --mobile-body2-font-weight: Regular;
  --mobile-body2-line-height: 16;
  --mobile-body2-font-size: 0.875rem;
  --mobile-body2-letter-spacing: 0;
  --mobile-body2-paragraph-spacing: 0;
  --mobile-body2-text-case: none;
  --mobile-body2-text-decoration: none;
  --mobile-caption-font-family: Inter;
  --mobile-caption-font-weight: Regular;
  --mobile-caption-line-height: 48;
  --mobile-caption-font-size: 0.75rem;
  --mobile-caption-letter-spacing: 0;
  --mobile-caption-paragraph-spacing: 0;
  --mobile-caption-text-case: none;
  --mobile-caption-text-decoration: none;
  --mobile-label-font-family: Inter;
  --mobile-label-font-weight: Regular;
  --mobile-label-line-height: 16;
  --mobile-label-font-size: 0.875rem;
  --mobile-label-letter-spacing: 0;
  --mobile-label-paragraph-spacing: 0;
  --mobile-label-text-case: none;
  --mobile-label-text-decoration: none;
  --mobile-overline-font-family: Inter;
  --mobile-overline-font-weight: Regular;
  --mobile-overline-line-height: 54;
  --mobile-overline-font-size: 0.625rem;
  --mobile-overline-letter-spacing: 0;
  --mobile-overline-paragraph-spacing: 0;
  --mobile-overline-text-case: none;
  --mobile-overline-text-decoration: none;
  --pill: 9999px;
  --default: 0.5px;
  --none-x: 2;
  --none-y: 4;
  --none-blur: 0;
  --none-spread: 0;
  --none-color: #000000;
  --none-type: innerShadow;
  --xl: 1.5px;
}